:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: #e4c219;
    --secondary-color: #c72f01;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--secondary-color);
    color: #fff;
  }
  


  header span.title {
    text-align: center;
    padding: 0.25rem 1rem;
    font-size: 2rem;
  }

  .hero {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: .7rem;
    margin-top: 1rem;
}

  .hero-container{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;

  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  nav {
    color: #fff;
  }
  
  #hamburgerBtn {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 0;
  }
  
  ul {
    width: 100%;
    margin: 0 auto;
  }
  
li {
    padding: 0 1rem;

}

  ul.navMenu li a {
    display: block;
    color: #202020;
    text-decoration: none;
    width: 100%;
    padding: 1rem 0;
  }
  
  li.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  li.active a {
    margin: 0 auto;
  }
  
  ul.navMenu {
    display: none;
    list-style-type: none;
  }
  
  ul.navMenu.open {
    display: block;
    padding-left: 0;
  }
  
  #hamburgerBtn::before {
    content: "\2630";
  }
  
  #hamburgerBtn.open::before {
    content: "X";
  }
  
main h1 {
  padding: 1.5rem 4%;
}

main h2 {
  padding: 1.5rem 4%;
}

main p {
  padding: .5rem 4%;
margin: 0;
}

#weather {
  padding: 0 4%;
  }

#weather div {
  /* border: 1px solid #0d0d0d; */
border-radius: .7rem;
margin: 1.5rem 4%;
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem .5rem;
background-color: var(--primary-color);
}

#newsContainer div{
border: 1px solid #0d0d0d;
border-radius: .7rem;
margin: 1.5rem 4%;
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem .5rem;
}

#news h2 {
  padding: 0 4%;
}

#newsContainer div img {
    overflow: hidden;
}

#newsContainer div a {
  color: #0d0d0d;
  text-decoration: none;
  /* border: 1px solid #0d0d0d; */
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  justify-self: center;
  background-color: var(--primary-color);
  padding: .5rem 1rem;
  border-radius: .7rem;

}

form {
    padding: 1rem;
    border: 1px solid #0d0d0d;
    margin: 1.5rem 4%;
    border-radius: .7rem;
}

form button {
  padding: .5rem 1rem;
  border: 1px solid #fff;;
  border-radius: .7rem;
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  justify-self: center;
  background-color: var(--primary-color);
}


legend {
    padding: 0.5rem;
  }
  
  label {
    display: block;
    padding: 0.5rem 0;
    font-size: 0.8rem;
  }

  input {
  /* width: 96%; */
  border: 1px #0d0d0d solid;
  border-radius: .7rem;
  padding: .75rem .25rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2%;
  border-radius: 1rem;
  margin-top: 1rem;
  display: inline;
}

fieldset {
  border-radius: .7rem;
  border: 1px #0d0d0d solid;

}

.checkbox {
  display: inline;
}
  
form button {
  margin-top: 1rem;
  border: 1px #0d0d0d solid;
  border-radius: .7rem;
  padding: .75rem .25rem;

}

.eventCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #0d0d0d;
border-radius: .7rem;
margin: 1.5rem 4%;
padding: 1rem .5rem;
}

.eventCard button {
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  justify-self: center;
  background-color: var(--primary-color);
  padding: .5rem 1rem;
  border-radius: .7rem;
border: none;
}

#closeModal {
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  justify-self: center;
  background-color: var(--primary-color);
  padding: .5rem 1rem;
  border-radius: .7rem;
border: none;

}

::backdrop {
  background-color: #c1c1c1;
}


footer {
  padding: 1.5rem 4%;
  background-color: var(--secondary-color);
  color: #fff;
}

footer span {
  text-align: center;
  font-style: italic;
}