:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: #e4c219;
    --secondary-color: #c72f01;
    font-family: "Roboto", sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }
  

  header span.title {
    text-align: center;
    padding: 0.25rem 1rem;
    font-size: 2rem;
  }

  .hero {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: .7rem;
    margin-top: 1rem;
}

  .hero-container{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;

  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  nav {
    color: #fff;
  }
  
  #hamburgerBtn {
    font-size: 2rem;
    background: none;
    border: none;
    color: #202020;
    cursor: pointer;
    text-align: center;
    padding: 0;
  }
  
  ul {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  ul.navMenu li a {
    display: block;
    color: #202020;
    text-decoration: none;
    width: 100%;
    padding: 1rem 0;
  }
  
  li.active {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 4rem;
  }
  
  li.active a {
    margin: 0 auto;
  }
  
  ul.navMenu {
    display: none;
    list-style-type: none;
  }
  
  ul.navMenu.open {
    display: block;
  }
  
  #hamburgerBtn::before {
    content: "\2630";
  }
  
  #hamburgerBtn.open::before {
    content: "X";
  }
  
    