@media screen and (min-width: 1025px) {
    #weather {
    display: flex;
    justify-content: space-around;
    }
 
    #newsContainer div {
    margin: 1.5rem 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem 4rem;
  }
  #newsContainer div img {
    grid-column: 1/2;
    grid-row: 1/4;
    
  }

  #newsContainer div h3 {
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 0;
  }
  #newsContainer div p {
    grid-column: 2/4;
    grid-row: 2/3;
padding: 0;
  }

  #newsContainer div a {
    grid-column: 2/4;
    grid-row: 3/4;
    color: #0d0d0d;
    text-decoration: none;
    border: 1px solid #0d0d0d;
    padding: .5rem 1rem;
    border-radius: .7rem;
    margin-top: 1rem;
    width: 50%;
    text-align: center;
    justify-self: center;
  }

form {
    max-width: 800px;
}

.eventContainer {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin: 0 4%;
}


.eventCard button{
    border: 1px solid #0d0d0d;
    padding: .5rem 1rem;
    border-radius: .7rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;

}
}
