:root {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  --primary-color: #0000ad;
  --secondary-color: #d30036;
}

header {
  display: grid;
  grid-template-columns: 60px auto 60px;
  align-items: end;
  padding: 0 1rem;
}

nav {
  color: #fff;
}

#hamburgerBtn {
  font-size: 2rem;
  background: none;
  border: none;
  color: #202020;
  cursor: pointer;
  text-align: center;
  padding: 0.25rem;
}

ul{
  width: 100%;
  margin: 0 auto;
}

ul.navMenu li a {
  display: block;
  padding: 1rem 2%;
  color: #202020;
  text-decoration: none;
  padding: 1rem 0;
  width: 100%;
}

li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

ul.navMenu {
  display: none;
  list-style-type: none;
}

ul.navMenu.open {
  display: block;
}

#hamburgerBtn::before {
  content: "\2630";
}

#hamburgerBtn.open::before {
  content: "X";
}

footer {
  padding: 0 2%;
}
