@media screen and (min-width: 640px) {
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  header span {
    padding: 0 2rem;
  }

  #hamburgerBtn {
    display: none;
  }

  ul.navMenu,
  ul.navmenu.open {
    display: flex;
    justify-content: space-evenly;
  }

  ul.navMenu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  #cards.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    align-items: center;
    justify-items: start;
    padding-left: 1rem;
    height: 5rem;
  }
  #cards.list section:nth-child(odd){
    background-color: #c1c1c1;
  }
  h2 {
    font-size: 16px;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }
}
