@media screen and (min-width: 640px) {
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  header span {
    padding: 0 2rem;
  }

  #hamburgerBtn {
    display: none;
  }

  ul.navMenu,
  ul.navmenu.open {
    display: flex;
    justify-content: space-evenly;
  }

  /* ul.navMenu li a {
    display: flex;
    /* color: #202020;
    text-decoration: none;
    width: 100%;
    padding: 1rem 0; */
  } */

  ul.navMenu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  footer {
    display: flex;
    justify-content: space-around;
  }
}
