@media only screen and (min-width: 641px) {
    #locationCards div{

  grid-template-areas:
    "image name"
    "image description"
    "image address"
    /* "button button"; */
    }

    #locationCards div img {
        margin: 1rem;
      }
      
      #locationCards div p {
        padding: 0 2%;
      }
      
      #locationCards div button {
        margin: 1rem 2%;
        padding: 1rem;
        border: 1px #c1c1c1 solid;
        border-radius: 0.4rem;
        width: 96%;
      }
      
}
