:root {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  --primary-color: #0000ad;
  --secondary-color: #d30036;
  box-sizing: border-box;
  /* max-width: 100vw; */
}

body {
  max-width: 1040px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

header span.title {
  text-align: center;
  padding: 0.25rem 1rem;
}

nav {
  color: #fff;
}

#hamburgerBtn {
  font-size: 2rem;
  background: none;
  border: none;
  color: #202020;
  cursor: pointer;
  text-align: center;
  padding: 0;
}

ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

ul.navMenu li a {
  display: block;
  color: #202020;
  text-decoration: none;
  width: 100%;
  padding: 1rem 0;
}

li.active {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
}

li.active a {
  margin: 0 auto;
}

ul.navMenu {
  display: none;
  list-style-type: none;
}

ul.navMenu.open {
  display: block;
}

#hamburgerBtn::before {
  content: "\2630";
}

#hamburgerBtn.open::before {
  content: "X";
}

main {
  width: 100%;
  padding: 3rem 1rem;
}

.hero-container {
  position: relative;
  width: 96vw;
}

.hero {
  height: auto;
  overflow: hidden;
  width: 640px;
}

#join {
  position: absolute;
  top: 50%;
  left: 100%;
  margin: 0;
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
}

main h1 {
  margin: 0;
  padding: 2rem 0;
}

main button {
  margin: 0 0 1rem 1rem;
}

#cards.grid {
  display: flex;
  flex-wrap: wrap;
}

#cards.list section {
  border: none;
  padding: 0;
}

main section {
  margin: 2rem 1rem;
  padding: 2rem;
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;
}

form {
  padding: 1rem;
  border: 1px #c1c1c1 solid;
  margin: 1rem;
  border-radius: 0.4rem;
}

fieldset {
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

legend {
  padding: 0 0.5rem;
}

label {
  display: block;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

input,
textarea {
  width: 96%;
  border: 1px #c1c1c1 solid;
  padding: .75rem .25rem;
}

input[type="radio"] {
  width: 2rem;
  height: 2%;
  border-radius: 1rem;
  margin-top: 1rem;
}

textarea {
  height: 5rem;
}

form button {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;
  background-color: #fff;
}

.levelContainer {
  display: flex;
  justify-content: space-around;
  height: 400px;
  flex-wrap: wrap;
  animation: changeColor 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  border: none;
}

.level {
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;
margin: 1rem;
padding: 1rem;
}

#modal p {
  font-size: 16px;
  font-weight: 400;
}

#modal button {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;
  background-color: #fff;

}

@keyframes changeColor {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

::backdrop {
  background-color: #c1c1c1;
}

.modalBtn {
  font-size: 1rem;
  background: none;
  border: 1px #c1c1c1 solid;
  color: #202020;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  border-radius: 0.4rem;
}

#modal {
  border: 1px #c1c1c1 solid;
}

#npCloseBtn {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;
}

#locationCards {
  width: 94vw;
}

#locationCards div{
  display: grid;
  grid-template-areas: 
  "name"
  "image"
  "description"
  "address"
  "button";
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;
/* width: 96vw; */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#locationCards div h2 {
  grid-area: name;
  margin: 0 auto;
  padding: 1rem 0;
}

#locationCards div img {
  grid-area: image;
  margin: 0 auto;
}

#address {
  grid-area: address;
  padding: 0 2%;
}

#locationCards div p {
  grid-area: description;
  padding: 0 2%;
}

#locationCards div button {
  margin: 1rem 2%;
  padding: 1rem;
  border: 1px #c1c1c1 solid;
  border-radius: 0.4rem;

}

footer {
  padding: 3rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
}
