@media screen and (min-width: 640px) {
  nav {
    position: static;
    display: block;
    width: 60vw;
    height: auto;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  li {
    list-style-type: none;
  }

  div.closeBox,
  div.hamburger {
    display: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .navContainer li {
    display: block;
    flex: 1 1 100%;
  }
  .navContainer a {
    text-align: center;
  }

  .closeBox.visible::before {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 15px;
  }

  #courseWork {
    grid-column: 1/3;
  }

  #waco {
    grid-column: 3/4;
  }

  #cert {
    grid-column: 1/4;
  }

  #courseContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }


  #courseContainer div p {
    padding: 1rem 3rem;
  }
}
