:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  --primary-color: #8bb3ee;
  --secondary-color: #859769;
  --neutral: #6c778e;
  margin: 0;
}

header {
  padding: 5rem 0;
  background-color: var(--primary-color);
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5rem;
  height: 100vh;
  width: 100%;
  display: none;
}

nav .hamburger,
nav .closeBox {
  cursor: pointer;
}

nav.visible {
  display: block;
}

div.closeBox {
  font-size: 3rem;
  /* position: absolute; */
  top: 0;
  right: 1.3rem;
  display: block;
}

li {
  list-style-type: none;
  padding: 0.5rem;
  font-size: 2rem;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

/* a:hover {
  background-color: var(--secondary-color);
} */

main {
  padding: 3rem 2rem;
}

.sectionCard {
  border: 1px solid #aaa;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionCard ul li {
  font-size: 1rem;
}

.sectionCard img {
  width: 350px;
  padding-bottom: 2rem;
}

#courseMenu {
  width: 100%;
}

.courseMenuContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.courseMenuContainer li {
  border: 1px solid #aaa;
}

#courseContainer p {
  border: 1px solid #aaa;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  padding: 1.5rem 2rem;
}
